In [4]:
# Arithmetic Operators

x = 5
y = 2

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y) # Returns Quotient
print(x**y) 
print(x%y) # Returns Remainder

7
3
10
2.5
2
25
1

In [6]:
# Comparison Operators

x = 5
y = 7

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [8]:
# Logical Operators

x = 5

print(x > 8 and x > 10)  # Needs both condition to be true.
print(x > 4  or x > 10)   # Needs one condition to be true. 
print(not(x > 8 and x > 10))  # Returns opposite of (and) keyword.

False
True
True

In [11]:
# Identity Operators

x = "Pulkit"
y = "Pulkit"

m = 4
n = 5

print(x is y)
print(x is not y)


print(m is n)
print(m is not n)

True
False
False
True

In [12]:
# Membership Operator

x = ["apple", "banana"]

print("banana" in x)
print("banana" not in x)

True
False

In [16]:
# Bitwise Operator

#  128 64 32 16 8 4 2 1

a = 6             # 6 = 0110 
b = 8             # 8 = 1000 
c = 0

c = a & b;        # Operator copies a bit to the result if it exists in both operands. # But in 6 and 8 all bits are different.
print(c) 

c = a | b;        # It copies a bit if it exists in either operand. # 0-1 -> 1 , 1-0 -> 1 , 0-0 -> 0
print(c)

c = a ^ b;        # 0-0 -> 0 , 0-1 -> 1, 1-0 -> 1, 1-1 -> 0
print(c)

c = a << 2;       # Left shift by 2 i.e 00011
print(c)

c = a >> 2;       # Right Shift by 2 i.e 0110   i.e only 01 remains here.  = 1 
print(c)

c = ~a;           # Reverse of bits i.e complement of 6 i.e  1001 
print(c)

0
14
14
24
1
-7